@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:wght@800&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header */

body {
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 18px;
    background-color: #f9fafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}

#static {
    position: fixed;

}

#logo {
    font-size: 500%;
    float: left;
    letter-spacing: 5px;
    line-height: 55px;

}

#menu {
    float: left;

}

#menu li {
    font-family: 'Kanit';
    color: rgb(0, 0, 255);
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;

}

#menu li a {
    text-decoration-line: none;
}

#menu li a:hover {
    color: #bfff00;
}

a:hover {
    color: #bfff00;
}

a:visited {
    color: inherit;
}

.active {
    color: #bfff00;
}

.button {
    padding: 20px;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    color: #000;
    background-color: rgba(0, 0, 255, 0.6);
    border: 3px solid #000;
    text-decoration: none;

}
.button:hover {
    background-color:rgb(0, 0, 255)(0, 0, 255);
    border: 4px solid #000;
    border-style: outset;
    color: #bfff00;
}

/* Cover image */

#cover-image {
    background: url('../images/cover-image.jpg') no-repeat center center;
    height: 600px;
    width: 100%;
}

.container {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#cover-text {
    color: #fff;
    background: rgba(0, 0, 255, 0.6);
    top: 250px;
    left: 25%;
    padding: 3%;
    position: absolute;
}

#cover-text h2 {
    letter-spacing: 5px;
}

#cover-button {
    display: inline-block;
    margin: 0%, auto;
}

/* About */

#about-right {
    float: right;
    height: 300px;
    width: 60%;
    text-align: right;
    margin-right: 60px;
    margin-top: 60px;
    line-height: 20px;
    margin-bottom: 60px;
}

#about-left {
    float: left;
    height: 300px;
    width: 30%;
    margin-top: 60px;
    margin-bottom: 60px;
}

#about-photo-container {
    border: 10px solid #bfff00;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

#about-photo {
    background: no-repeat center center;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* Gallery */

#gallery {
    height: 300px;
    width: 100vw;
    display: inline-flex;
    overflow: auto;
    scroll-behavior: smooth;

}

#gallery img {
    height: 100%;
    width: 100%;
    margin-left: 2px;
}

/* Exhibition dates */

#exhibition-dates {
    height: 300px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;

    

}
.exhibition-dates-section {
    width: 33%;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#form {
    width: 33%;
    height: 100%;
    background-color: #bfff00;
    margin: 0 auto;
    padding: 20px 60px 20px 60px;

}
label > h4 {
    margin-bottom: 5px;
}
.text-input {
    height: 40px;
    width: 100%;
    border-style: outset;
    border-color: #bfff00;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;

}
.center {
    text-align: center;
}
.ticket-button {

    padding: 20px;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    background-color: rgba(0, 0, 255);
    border: 3px solid #000;
    text-decoration: none;
}

.ticket-button:hover {
    background-color:rgb(0, 0, 255)(0, 0, 255);
    border: 4px solid #000;
    border-style: outset;
    color: #bfff00;
}
    
@keyframes 
