@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:wght@800&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.button {
    padding: 20px;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    color: #000;
    background-color: rgba(0, 0, 255, 0.6);
    border: 3px solid #000;
    text-decoration: none;

}

/* Header */

body {
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 400;
    color: #000
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}

#static {
    position: fixed;

}

#logo {
    font-size: 500%;
    float: left;
    letter-spacing: 5px;
    line-height: 55px;

}

#menu {
    float: left;

}

#menu li {
    font-family: 'Kanit';
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;

}

#menu li a {
    text-decoration-line: none;
}

a:hover {
    color: #bfff00;
}

.active {
    color: #bfff00;
}



/* Cover image */

#cover-image {
    background: url('../images/cover-image.jpg') no-repeat center center;
    height: 600px;
    width: 100%;
}

.container {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#cover-text {
    color: #fff;
    background: rgba(0, 0, 255, 0.6);

    top: 250px;
    left: 400px;
    padding: 3%;
    position: absolute;
}

#cover-button {
    display: inline-block;
    margin: 0%, auto;
}

/* About */

#about-right {
    float: right;
    height: 300px;
    width: 60%;
    text-align: right;
    margin-right: 60px;
    margin-top: 60px;
    line-height: 20px;
}

#about-left {
    float: left;
    height: 300px;
    width: 30%;
    margin-top: 60px;
    }

    #about-photo-container {
        border: 10px solid #bfff00;
        height: 300px;
        width: 300px;
        margin: 0 auto;
    }

    #about-photo {
        background: url('../images/profile-image.jpg') no-repeat center center;
        height: 100%;
        margin: 0 auto;
    }